name: Izgradi i objavi sliku backend containera
on:
  workflow_dispatch:

jobs:
  build-push-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3
        id: buildx
      - uses: actions/cache@v4
        id: cache
        with:
          path: cache
          key: buildx-cache-mount-${{ hashFiles('backend/Dockerfile') }}
      - uses: reproducible-containers/buildkit-cache-dance@v3
        with:
          cache-dir: cache
          dockerfile: backend/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          skip-extraction: ${{ steps.cache.outputs.cache-hit }}

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: |
            ghcr.io/${{ github.repository }}/backend
          tags: |
            
      - uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_SUMMARY: false
        with:
          push: true
          context: backend
          file: backend/Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
